<!-- <div *ngIf="instructions.length > 0" class="section">
    <div class="section-heading">
        <span class="icon-circle">
            <i class="fa-solid fa-code"></i>
        </span>
        <h3>Three-Address Code (TAC)</h3>
    </div>
	<div class="code-box">
		<div *ngFor="let line of instructions">
            <code>{{ line }}</code>
        </div>
	</div>
</div> -->

<div *ngIf="instructions.length > 0" class="section">

    <div class="section-heading">
        <span class="icon-circle code-icon">
            <i class="fa-solid fa-code"></i>
        </span>

        <h3>Three-Address Code (TAC)</h3>
    </div>

    <div class="code-box">
        <div *ngFor="let line of instructions">
            <code>{{ line }}</code>
        </div>
    </div>

</div>